<h1><div class="container text-center"> ESSA É SUA WAIFU LIST! </div></h1>

<% @waifus.each do |waifu| %>
    <div class="container-sm  pb-1 pt-1" border border-blue style="background-color: #d8bfd8">
    <div><%= waifu.name %></div>
    <div><%= waifu.anime %></div>
    <div><%= waifu.description %></div>

    <%= link_to 'EDITAR', edit_waifu_path(waifu), :class => "btn btn-outline-info" %>
    <%= link_to 'DELETAR', waifu_path(waifu), :class => "btn btn-outline-danger" %>
    </div>
    <br>
<% end %>