<div class="container display-4 text-center border border-danger rounded-pill" style="background-color: #d8bfd8";>
<strong>
Nos Apresente Sua Nova Waifu!
</strong>
</div>

<%= form_for Waifu.new do |w| %>
    <br>
    <%= w.label :name, 'NOME:' %><br>
    <%= w.text_field :name %><br>
    <%= w.label :anime, 'ANIME:' %><br>
    <%= w.text_field :anime %><br>
    <%= w.label :description, 'DESCRIÇÃO:' %><br>
    <%= w.text_field :description %><br>
    <%= w.label :main, 'WAIFU PRINCIPAL:' %>
    <%= w.check_box :main %><br>
    <%= w.label :avatar %><br>
    <%= w.file_field :avatar %><br>
    <%= w.submit 'Criar' %><br>
<% end %>
<br>

